

body {
  background: url('/images/Aviao.png') center center/cover no-repeat;
  background-size: 110% 110%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  color: #fff;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


.hero-content {
  background: rgba(0, 0, 0, 0.4);
  padding: 50px 30px;
  border-radius: 10px;
  text-align: left;
  color: white;
  margin: 80px auto; 
  width: 480px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 50px;
}

.hero-content button {
  padding: 10px 12px;
  font-size: 15px;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.2s;
}

.hero-content button:hover {
  background-color: rgb(232, 126, 4);
}

header, .header {
  background: transparent;
  box-shadow: none;
}
