.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
  z-index: 999;
}

.logo img {
  height: 80px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 28px;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul li.entrar {
  margin-left: 50px; 
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.2s;
}

nav ul li a:hover {
  text-decoration: underline;
  color: orange;
}
